<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myspring.test.mapper.CartMapper">

	<insert id="addItemToCart" parameterType="com.myspring.test.shop.Cart">
		 INSERT INTO cart (cart_buyer, cart_buycount, cart_fruitnumber, item_name, item_price, item_image)
        VALUES (#{cart_buyer}, #{cart_buycount}, #{cart_fruitnumber}, #{item_name}, #{item_price}, #{item_image})
	</insert>
	
	<select id="getCartByUser" parameterType="String" resultType="com.myspring.test.shop.Cart">
		SELECT 
            c.cart_number,
            c.cart_buyer,
            c.cart_buycount,
            c.cart_fruitnumber,
            i.item_name,
            c.item_price,
            i.item_image
        FROM cart c
        JOIN item i ON c.cart_fruitnumber = i.item_number
        WHERE c.cart_buyer = #{buyer}
	</select>
	
	<update id="updateCartItemCount" parameterType="com.myspring.test.shop.Cart">
		UPDATE cart
        SET cart_buycount = cart_buycount + #{cart_buycount}
        WHERE cart_buyer = #{cart_buyer} AND cart_fruitnumber = #{cart_fruitnumber}
	</update>
	
	<delete id="removeItemFromCart" parameterType="Integer">
		DELETE FROM cart where cart_number = #{cart_number}
	</delete>
	
	 <select id="getCartItem" parameterType="com.myspring.test.shop.Cart" resultType="com.myspring.test.shop.Cart">
        SELECT *
        FROM cart
        WHERE cart_buyer = #{cart_buyer} AND cart_fruitnumber = #{cart_fruitnumber}
    </select>
	
	<select id="getCartItems" parameterType="String" resultType="map">
		SELECT cart_booknumber, cart_buycount 
        FROM cart 
        WHERE cart_buyer = #{buyer}
	</select>
	
	<delete id="deleteCartItems" parameterType="String">
        DELETE FROM cart WHERE cart_buyer = #{buyer}
    </delete>
	
	
</mapper>